html, body {
    min-height: 100%;
    height: auto;
    overflow-x: hidden;
    position: relative;
}


.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0.5rem;
    padding-top: 60px; /* Ridotto da 80px */
    padding-bottom: 120px;
    box-sizing: border-box;
}

.main-content {
    flex-grow: 1;
    width: 100%;
    overflow-x: hidden;
}

/* Mobile styles */
@media (max-width: 768px) {
    .App {
        padding-bottom: 100px; /* Increased padding for mobile toolbar */
    }
    
    .main-content {
        padding-bottom: 250px;
    }
}

html {
  -webkit-text-size-adjust: 100%; /* disabilita il resize automatico del testo su iOS */
  touch-action: pan-y;           /* consente solo lo scroll verticale */
  overscroll-behavior: none;     /* blocca bounce/zoom di sistema */
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;            /* previene scroll orizzontale indesiderato */
}


