html, body {
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
}


.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 200px; /* Spazio extra per la toolbar */
}



.main-content {
    flex-grow: 1;
    padding-bottom: 200px; /* Assicurati che questo spazio sia maggiore o uguale all'altezza della toolbar */
}

