/* Contenitore principale per racchiudere tutto */
.input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    padding: 1.5rem;
    background-color: #1e1e2d;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    margin: 2rem auto;
  }
  
  /* Titolo della pagina */
  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #b4ff00;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  /* Etichetta per le sezioni */
  label {
    font-size: 1.1rem;
    font-weight: 600;
    color: #b4ff00;
    margin-bottom: 0.5rem;
  }
  
  /* Input e selettori */
  input[type="text"], input[type="color"], select, .modern-button, input[type="file"] {
    width: 100%;
    max-width: 300px;
    padding: 0.8rem;
    margin-top: 0.3rem;
    border: 2px solid #b4ff00;
    background-color: #1e1e2d;
    color: #b4ff00;
    font-size: 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  input[type="text"]::placeholder {
    color: #b4ff00;
    opacity: 0.7;
  }
  
  /* Casella di testo */
  textarea {
    width: 100%;
    max-width: 300px;
    height: 120px;
    padding: 0.8rem;
    border: 2px solid #b4ff00;
    background-color: #1e1e2d;
    color: #b4ff00;
    font-size: 1rem;
    border-radius: 8px;
    resize: vertical;
  }
  
  /* Bottoni */
  button, .modern-button {
    background-color: #00061b;
    color: #b4ff00;
    border: 2px solid #b4ff00;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 300px;
    margin-top: 1rem;
  }
  
  button:hover, .modern-button:hover {
    background-color: #b4ff00;
    color: #00061b;
  }
  
  /* Allineamento orizzontale per gli input */
  .inline-inputs {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .inline-inputs label {
    font-size: 1rem;
    color: #b4ff00;
  }


  .App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 80px; /* Lo spazio extra per evitare che la toolbar fissa copra il contenuto */
  }
  
  .toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #1e1e2d;
    padding: 10px;
    z-index: 1000;
  }
  
  